body {
    margin: 0px;
    font-family: "Roboto"; 
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    flex: 0 0 auto;
}

.header, 
.navigation,
.footer{
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 0px 300px;
    display:flex;
    align-items: center;
}

.header, 
.navigation,
.services,
.quote,
.contact-section,
.footer{
    width: 70%;
}

.navigation{
    padding-bottom: 20px;
}

.nav-hero, 
.header-hero{
    font-weight: 900;
}

.nav-hero{
    font-size: 24px;
    flex: 1 0 auto;
}

.header-hero{
    font-size: 48px;
}

.header p, a{
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}

.header{
    padding: 50px 300px;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-left{
    max-width: 860px;
    min-width: 400px;
}

.header button {
    border-color:  #3882F6;
    margin-top: 20px;
    margin-bottom: 38px;

}

button {
    background: #3882F6;
    color: white;
    padding: 5px 15px;
    border-style: solid;
    border-radius: 5px;
}

.header img {
    width: 400px;
}

.services{
    text-align: center;
    padding: 30px 300px 80px 300px;
    align-items: flex-start;
}


.services-header{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.carousel{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    gap: 50px;
    flex-wrap: wrap;
}

.carousel img{
    width: 250px;
}

.quote{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 300px;
    font-size: 36px;   
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
    min-width: 350px;
}

.quoter{
    margin-left: auto;
    font-style: normal;
    font-weight: bold;
}

.contact-section{ 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 300px;
    font-size: 18px;
    color: white;
}

.contact-card{
    background-color: #3882F6;
    border-color:  #3882F6;
    border-style: solid;
    border-radius: 10px;
    padding: 10px 80px;
    width: 900px;
    min-width: 425px;
    height: 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.contact-left{
    flex-grow: 5;
}

.call-to-action{
    font-weight: bold;
}

.contact-right{
    flex-grow: 1;
}

.contact-section button {
    border-color: white;
}

.footer{
    padding: 25px 300px;
    justify-content: center;
}